<!DOCTYPE html>
<html>
<link>
	{% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/social.css' %}"> </link>

        <title>initium KZ</title>

    <style type="text/css">
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #303c6c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fbe8a6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body style="flex: 1;background: rgb(255,247,219);background: linear-gradient(90deg, rgba(255,247,219,1) 0%, rgba(251,232,166,1) 59%, rgba(244,151,108,1) 100%);">
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-8" href="{% url 'home' %}">
              Initium KZ
              <img src="{% static 'img/logo.png' %}" alt="Logo" style="width:60px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">Главное</a>
              <a class="nav-item nav-link" href="#" onclick="openNav()">Категории</a>
              <a class="nav-item nav-link" href="{% url 'about' %}">О нас</a>
            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <strong><a class="nav-item nav-link" href="{% url 'post-create' %}">Создать проект</a></strong>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Выйти</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Профиль</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Войти</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/posts/it">Информационные Технологии</a>
          <a href="/posts/sport">Спорт</a>
          <a href="/posts/health">Здоровье</a>
          <a href="/posts/science">Наука и Техника</a>
          <a href="/posts/electronic">Электроника</a>
          <a href="/posts/transport">Транспорт</a>
          <a href="/posts/culture">Культура</a>
          <a href="/posts/games">Игры и развлечения</a>
          <a href="/posts/food">Еда и ремесло</a>
          <a href="/posts/other">Прочее</a>
          <a href="/posts">Все категории</a>

    </div>

    <main role="main" class="container">
<!--      <div class="row">-->
<!--        <div class="col-md-8">-->
<!--            {% if messages %}-->
<!--                {% for message in messages%}-->
<!--                    <div class="alert alert-{{ message.tags }}">-->
<!--                        {{ message }}-->
<!--                    </div>-->
<!--                {% endfor %}-->
<!--            {% endif %}-->
            {% block content %}{% endblock %}
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--          <div class="content-section">-->
<!--            <h3>Our Sidebar</h3>-->
<!--            <p class='text-muted'>You can put any information here you'd like.-->
<!--              <ul class="list-group">-->
<!--                <li class="list-group-item list-group-item-light">Latest Posts</li>-->
<!--                <li class="list-group-item list-group-item-light">Announcements</li>-->
<!--                <li class="list-group-item list-group-item-light">Calendars</li>-->
<!--                <li class="list-group-item list-group-item-light">etc</li>-->
<!--              </ul>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </main>

    <footer class="footer" >
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="template-demo"> <button type="button" class="btn btn-social-icon btn-facebook btn-rounded"><i class="fa fa-facebook"></i></button> <button type="button" class="btn btn-social-icon btn-youtube btn-rounded"><i class="fa fa-youtube"></i></button> <button type="button" class="btn btn-social-icon btn-twitter btn-rounded"><i class="fa fa-twitter"></i></button> <button type="button" class="btn btn-social-icon btn-dribbble btn-rounded"><i class="fa fa-dribbble"></i></button> <button type="button" class="btn btn-social-icon btn-linkedin btn-rounded"><i class="fa fa-linkedin"></i></button> <button type="button" class="btn btn-social-icon btn-instagram btn-rounded"><i class="fa fa-instagram"></i></button> </div>
            </div>
    </div>
    <div class="footer-copyright text-center py-3" style="color:#fbe8a6;">© 2020 Copyright:
        <a href="#" style="color:#fbe8a6;">Initium Kazakhstan</a>
    </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>
</html>