{% extends "post/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-9">
            <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.created|date:"F d, Y" }}</small>
                {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.body }}</p>
        </div>
    </article>
        </div>
    <div class="col-3">
        <div class="content-section" style="height:150px;width:150px;">
                <h3>Pledged now:</h3>
                    <p>{{ object.pledgeAmount }}</p>
        </div>
    </div>
    </div>
<div class="row">
        <div class="col-9">
        <div class="content-section">
            <a href="{% url '' %}"><button class="btn btn-success" type="button">Chat with author</button></a>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-9">
    <div class="content-section">
        <a href="{% url 'donationPage' %}"><button class="btn btn-success" type="button">Donate with Stripe</button></a>
        <a href="{% url 'paypalAmount' %}"><button class="btn btn-success" type="button">Donate with PayPal</button></a>
    </div>
    </div>
    </div>
    <script>
        var e = document.getElementById("sell");
        var strUser = e.options[e.selectedIndex].value;
    </script>

{% endblock content %}