{% extends "post/base.html" %}
{% block content %}
<script>
        url = 'https://www.paypal.com/sdk/js?client-id=ActaWbaRBqjBt3EWP5oBmWSW9zjK2QUZPVkSF7vYQeimpABSzvjc3rwpajszQR44upXOis3OpdL_PA7R&currency=USD'
        let myScript = document.createElement("script");
        myScript.setAttribute("src", url);
        myScript.setAttribute("type", "text/javascript");
        myScript.setAttribute("async", "false");


        let body = document.body;
        body.insertBefore(myScript, body.firstElementChild);

        let myScript1 = document.createElement("script");
        myScript1.setAttribute("type", "text/javascript");
        myScript1.setAttribute("async", "false");
        myScript!.text = "paypal.Buttons({
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: "{{ amount }}"
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
<!--                    API!!!!!!!!!!!!!!!!!!!!!-->
                });
            }
        }).render('#paypal-button-container');"
        let body1 = document.body;
        head.insertBefore(myScript1, body1.firstElementChild);

</script>
{% endblock content %}